.shell{
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  padding: 20%;
  border: medium solid black;
 }
 
 .maincolumn{
   display: flex;
   width: 43.2vw;
   flex-wrap: wrap;
   /*flex-direction: column;*/
   /*background-color: dodgerblue;*/
   border: medium solid black;
   
  }
 
 .sidecolumn{

   display: flex;

 }

 .display{
  display: flex;
  width: 40vw;
  padding: 15px;
  background-color: aliceblue;
  font-size: x-large;
  font-style:initial;
  justify-content: end;
  
 }
 
 .regularbutton{
  width: 10vw;;
  margin: 0.4vw;
  height: 10vh;
 }

 .doublebutton{
  width: 20.8vw;
  margin: 0.4vw;
  height: 10vh;
 }