html, body {
  margin: 0;
  padding: 0;
}

.shell{
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  padding: 20%;
  padding-bottom: 80%;
  /*border: medium solid black;*/
 }
 
 .maincolumn{
   display: flex;
   width: 80%;
   height: 60%;
   flex-wrap: wrap;
   /*flex-direction: column;*/
   /*background-color: dodgerblue;*/
   border: medium solid black;
   border-radius: 7px;
   padding: 0.8%;
   background-color: beige;
   padding-bottom: 1%;
   /*padding-bottom: 1.4vw;*/
  }
 /*
 .sidecolumn{

   display: flex;

 }
*/
 .display{
  display: flex;
  width: 95%;
  height: 3%;
  padding: 3%;
  background-color: aliceblue;
  font-size: x-large;
  font-style:initial;
  justify-content: end;
  border: thin solid gray;
  margin: 0.6%;
  border-radius: 10px;
 }

 button{
  
  font-size: x-large;
  
 }
 
 .regularbutton{
  width: 24.6%;
  margin: 0.2%;
  height: 10%;
 }

 .doublebutton{
  width: 49.6%;
  margin: 0.2%;
  height: 10%;
 }